# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
model_weights/ALL_BESTS*
model_weights/pretrained-encoder-weights
xpoint/models/VMamba
outputs
tmp


*.py[cod]
*$py.class
*/__pycache__/
.*
*.egg-info*
*.pyc
*.lsf
*lsf*
*.txt
data/*

!requirements.txt
!.gitignore